@{
    ViewData["Title"] = "Movie Added";
}

@model Mission4.Models.AddMovieResponse

<div class="text-center">
    <h1 class="display-4">Your movie has been added!</h1>
    <p>The movie you just added was: @Model.Title</p>
</div>
